<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- 驱动轮摩擦 -->
    <gazebo reference="left_wheel_link">
        <material>Gazebo/DarkGrey</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
    </gazebo>

    <gazebo reference="right_wheel_link">
        <material>Gazebo/DarkGrey</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
    </gazebo>

    <!-- 脚轮摩擦（无摩擦，自由滚动） -->
    <xacro:macro name="caster_gazebo" params="prefix">
        <gazebo reference="${prefix}_link">
            <material>Gazebo/Black</material>
            <mu1 value="0.0" />
            <mu2 value="0.0" />
            <kp value="1000000.0" />
            <kd value="10.0" />
        </gazebo>
    </xacro:macro>

    <xacro:caster_gazebo prefix="caster_front_right" />
    <xacro:caster_gazebo prefix="caster_front_left" />
    <xacro:caster_gazebo prefix="caster_rear_right" />
    <xacro:caster_gazebo prefix="caster_rear_left" />

</robot>
